PORT=5000
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/learning_tracker
CLIENT_URL=http://localhost:5173


mongodb+srv://<db_username>:<db_password>@learning-tracker.4eapnyd.mongodb.net/?appName=learning-tracker